.swagger-ui .wrapper {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.swagger-ui .info .title {
    font-size: 2.75em;
    line-height: 1.05882353em;
    margin-top: 0.35294118em;
    margin-bottom: 0.25em;
    color: #FF52D4;
}

.swagger-ui .info {
    margin: 0;
}

.swagger-ui .info .title small {
    background: #FF52D4;
}

.swagger-ui .info a {
    color: #FF52D4;
}

.swagger-ui .info a:hover {
    color: #FF52D4;
    text-decoration: underline;
}

.swagger-ui .opblock.opblock-get {
    border-color: #FF52D4;
    background: var(--background-color);
}

.swagger-ui .opblock.opblock-get .opblock-summary {
    border-color: #FF52D4;
}

.swagger-ui .opblock.opblock-get .opblock-summary-method {
    background: #FF52D4;
}

.swagger-ui .btn.execute {
    border-color: #FF52D4;
    background: #FF52D4;
}
